.loader-body{
    width: 15vw;
    height:15vw;
    background: white;
}
.loader {
    border: 1vw solid #999999; /* grey */
    border-top: 1vw solid #3498db; /* Blue */
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}